/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

:root{
    --main-color: #102746;
    --secondary-color: #fff;
    --tertiary-color: #000;
    --grid-gap-column: 55px;
}

img{
    max-width: 100%;

}

figure{
    margin: 0;
}

figcaption{
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: var(--main-color);
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-large{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header styles start */

.header__wrapper{
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    transition: .2s linear;
}

.header_active{
    background-color: #0E1D28;
    z-index: 10;
}

.section-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: var(--main-color);
    position: relative;
    padding-bottom: 10px;
}

.section-title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006dfe;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header__nav-list{
    display: flex;
    flex-wrap: wrap;
}

.header__nav-list-item:not(:last-child){
    margin-right: 82px;
}

.header__nav-list-item-link{
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: opacity 0.1s ease-in-out
}

.header__nav-list-item-link:hover, .header__nav-list-item-link:focus, .header__nav-list-item-link:active{
    color: #538ae7;
    opacity: 75%;
}

.header__burger{
    display: none;
    position: relative;
    width: 40px;
    height: 28px;
}

.burger__line{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.burger__line_first{
    top: 0;
}

.burger__line_second{
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third{
    bottom: 0;
}

/* Header styles end */

/* Intro styles start */


.intro{
    min-height: 100vh;
    background-image: url(/images/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
    color: var(--secondary-color);

}

.intro__title{
    margin-bottom: 22px;
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
}

.intro__subtitle{
    margin-bottom: 59px;
    max-width: 546px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.search-form__info{
    display: flex;
    flex-wrap: wrap;
}

.search-form__wrap{
    padding-bottom: 376px;
}

.search-form__field{
    width: 297px;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    background: transparent url("/images/svg/circle-icon.svg") no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid  #bfc0c5;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-color);
}

.search-form__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-color);
}

.search-form__submit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: var(--secondary-color);
    background-color: #1b7dff;
    border: 0;
    border-radius: 10rem;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background-color: #084ba3;
}

/* Intro styles end */

/* Benefits styles start */

.benefits{
    margin-bottom: 131px;
}

.benefits__wrapper{
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title{
    width: 100%;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: var(--main-color);
}

.benefits__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 55px;
    padding: 0 100px;

}

.benefits__card{
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic{
     max-width: 66px;
    margin-bottom: 37px;
}

.benefits__card-thumb{
    display: block;
}

.benefits__card-title{
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--tertiary-color);
}

.benefits__card-description{
    max-width: 317px;
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--tertiary-color);
}




.benefits__card-more-link{
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #006dfe;

    background: url("/images/svg/arrow-ico.svg") no-repeat 95% center;
    transition: 150ms ease-in-out;
}

.benefits__card-more-link:hover, .benefits__card-more-link:focus{
    background: url("/images/svg/arrow-ico.svg") no-repeat right center;
    transform: scale(1.05);
}

.benefits__card-more-link:active{
    transform: scale(1);
}

/* Benefits styles end */

/* Places styles start */

.places{
    margin-bottom: 131px;
}

.places__caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__title{
    margin-right: 15px;
}

.places__view-all-link{
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    text-decoration: none;
    background: url("/images/svg/arrow-ico.svg") no-repeat right center;
    transition: 150ms ease-in-out;
}

.places__view-all-link:hover, .places__view-all-link:focus{
    opacity: 65%;

}

.places__view-all-link:active{
    -webkit-background-size: 20%;
    background-size: 20%;
}

.places__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.places__card{
    position: relative;
    overflow: hidden;
}

.places__card::before{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.places__card:hover .places__card-pic{
    transform: scale(1.1);
}

.places__card-title{
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
}



.places__card_size_lg{
    grid-column: span 3;
}

.places__card_size_sm{
    grid-column: span 2;
}

.places__card-pic-lg{
    height: 354px;
    object-fit: cover;
}

.places__card-pic-sm{
    height: 283px;
    object-fit: cover;
}

.places__card-pic{
    height: 100%;
    width: 100%;
    transition: 2s all;
    object-fit: cover;
}

.places__card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}


/* Places styles end */

/* Tours styles start */

.tours{
    margin-bottom: 139px;
}

.tours__tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__info{
    padding-left: 47px;
}

.tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: var(--main-color);
    margin-bottom: 85px;
}

.tour__desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour__link{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #006dfe;

    background: url("/images/svg/arrow-ico.svg") no-repeat 95% center;
    transition: 150ms ease-in-out;
}

.tour__link:hover, .tour__link:focus{
    background: url("/images/svg/arrow-ico.svg") no-repeat right center;
    transform: scale(1.05);
}

.tour__link:active{
    transform: scale(1);
}

/* Tours styles end */

/* Top styles start */

.top{
    margin-bottom: 86px;
}

.top__card{
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.top__title{
    margin-bottom: 54px;
}

.top__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 57px;
    grid-row-gap: 57px;
}

.top__card-pic{
    position: relative;
    margin-bottom: 45px;
}

.top__card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-color);
    margin: 0 auto 0 0;
}

.top__card-likes{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-color);
    margin-right: 14px;
    padding-right: 20px;
    background: url("/images/svg/shape.svg") no-repeat right;
}

.top__card-comments{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-color);
    padding-right: 23px;
    background: url("/images/svg/comment.svg") no-repeat right;

}

.top__card-desc{
    font-size: 16px;
    line-height: 24px;
    color: var(--main-color);
    margin-bottom: 31px;
}

.top__card-more{
    margin: auto 0 0 0;
    padding: 12px 19px;
    width: 118px;
    background: #006DFE;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 19px;
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
    background-color: #084ba3;
}

/* Top styles end */

/* Videos styles start */

.videos{
    width: 100%;
}

.videos__wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video__item{
    padding-top: 56.25%;
}

.video__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Videos styles end */

/* Footer styles start */

.footer{
    padding: 119px 0;
    background-color: #0E1D28;
}

.footer__item{
    display: flex;
    flex-wrap: wrap;
}

.footer__logo{
    width: 50%;
}

.footer__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer__menu-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-color);
}

.footer__menu-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-color);
}

.footer__menu-link:hover, .footer__menu-link:active, .footer__menu-link:focus{
    opacity: 75%;
}

/* Footer styles end */

/* Media start */

@media screen and (max-width: 960px){

    .intro__subtitle{
        font-size: 20px;
    }
    .search-form__wrap{
        padding-bottom: 150px;
    }

    .search-form__field{
        margin-bottom: 30px;
    }


    .benefits{
        margin-bottom: 75px;
    }

    .benefits__card{
        margin-bottom: 60px;
    }

    .benefits__wrapper{
        box-shadow: none;
    }


    .benefits__title{
        padding: 55px 15px;
        text-align: center;
    }

    .benefits__cards{
        padding: 0 15px;
        grid-column-gap: 35px;
    }

    .places__card_size_lg{
        grid-column: span 6;
    }

    .places__card_size_sm{
        grid-column: span 6;
    }

    .tours__tour{
        grid-column-gap: 32px;
    }

    .tour__info{
        padding-left: 0;
    }

    .tour__title{
        margin-bottom: 15px;
    }

    .tour__desc{
        margin-bottom: 15px;
    }

    .top__cards{
        grid-column-gap: 35px;
        grid-row-gap: 55px;
    }

    .top__card{
        grid-column: span 3;
    }

    .top__card-pic{
        margin-bottom: 25px;
    }

    .footer{
        padding: 60px 0;
    }
}

@media screen and (max-width: 1366px){
    .intro{
        padding-bottom: 136px;
    }
    .header__wrapper{
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px){

    .section-title{
        margin-bottom: 25px;
    }

    .section-title::after{
        width: 78px;
    }

    .header__wrapper{
        padding-top: 20px;
    }

    .header__burger{
        display: block;
    }

    .header__nav{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #0E1D28;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header__nav_active{
        transform: translateX(0);
    }

    .header__nav-list-item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__nav-list-item:last-child{
        margin-bottom: 0;
    }

    .header__nav-list-item-link{
        font-size: 42px;
        line-height: 48px;
    }

    .header__nav_close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav_close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header__nav_close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav_close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }

    .intro{
        padding-top: 125px;
    }

    .intro__title{
        font-size: 32px;
        line-height: 48px;
    }

    .intro__subtitle{
        font-size: 14px;
    }

    .search-form__wrap{
        padding-bottom: 40px;
    }

    .search-form__field{
        margin-right: 0;
        width: 100%;
        padding-bottom: 12px;
        background: transparent url("/images/svg/circle-icon.svg") no-repeat left 2px;
    }



    .search-form__field::placeholder{
        font-size: 16px;
    }

    .benefits__card{
        grid-column: span 3;
    }

    .places{
        margin-bottom: 76px;
    }

    .places__view-all-link{
        margin-bottom: 25px;
    }

    .places__caption{
        margin-bottom: 0;
    }

    .tours{
        margin-bottom: 76px;
    }

    .tours__tour{
        margin-bottom: 50px;
    }

    .tour__pic, .tour__info{
        grid-column: span 2;
    }

    .tour__pic{
        margin-bottom: 12px;

    }

    .tour__pic-mob-first{
        grid-row-start: -1;
    }

    .tour-thumb{
        height: 200px;
    }

    .top{
        margin-bottom: 76px;
    }

    .top__card{
        grid-column: span 6;
    }

    .top__card-stats{
        max-width: 386px;
    }


    .top__card-desc{
        margin-bottom: 15px;
    }

    .footer{
        padding-bottom: 40px;
    }

    .footer__logo{
        width: 100%;
        margin-bottom: 24px;
    }

    .footer__nav{
        width: 100%;
    }

    ul.footer__menu{
        width: 50%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 500px) {
    .header__nav{
        margin: 0 auto;
        padding: 75px 20px 40px;
    }

    .burger__line{
        width: 80%;
    }

    .burger__line_first{
        top: 6px;
    }

    .burger__line_second{
        top: 50%;
        transform: translateY(-50%);
    }

    .burger__line_third{
        bottom: 6px;
    }

    .header__nav_close-line{
        width: 80%;
    }

    .search-form__info:nth-child(2){
        margin-bottom: 50px;
    }

    .search-form__submit{
        width: 100%;
    }

    .places__card-title{
        font-size: 25px;
        line-height: 30px;
    }

    .places__card_size_lg, .places__card_size_sm{
        height: 240px;
    }

    .tour-thumb{
        width: 100%;
        height: 100%;
    }

}

/* Media end */
